
  <div class="row small text-muted mb-1 ">
  <div class="col-auto ">

  </div>
  <div class="col">
    <div  class="row-left nopadding">
    <app-chatname [username] ="username"></app-chatname></div>
    <div class="row nopadding">
      <app-contactstatus [status] = "status"></app-contactstatus>
  </div>
  </div>
  <div class="col-auto nopadding">

    <app-primarybutton class="glyphicon glyphicon-user" [icon] = "searchicon">  </app-primarybutton>
    <app-primarybutton class="glyphicon glyphicon-user" [icon] = "dotmenuicon">  </app-primarybutton>


  </div>

  </div>


